html {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: crimson;
  background: transparent;
  /* overflow: hidden; */
}
::-webkit-scrollbar {
  display: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width:100vw;
  height:100vh;
}

body {
  margin: 2.2rem 0 0 0;
  padding: 1rem;
  width: 100%;
}

h4 {
  font-size: 2.2rem;
}

.title {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.all-links {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

a {
  color: rgb(209, 72, 202);
text-decoration: none;
  padding: 1.5rem;
  font-size: 2.2rem;
}

a:hover {
  color: goldenrod;
}

p {
  display: block;
  font-size: 2rem;
}
