html {
  background-color: black;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(203, 51, 142);
  background: black;
  /* overflow: hidden; */
}

#placeholder {
  margin: 6rem 2em 5em 2em;
  padding: 2rem;

  box-shadow: 2rem 5rem 8rem 9rem rgba(115, 207, 11, 0.12),
    2rem 5rem 8rem 2rem rgba(70, 21, 21, 0.24);
  border-radius: 6px;
  color: green;
}

h5 {
  color: brown;
  font-size: 3rem;
  padding: 0.5em;
}

#parkey {
  padding: 2rem;
  color: rgb(68, 30, 200);
}

::-webkit-scrollbar {
  display: none;
}

#split {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

text-decoration:underline body {
  width: 100%;
}

h1 {
  padding: 1em;
  font-size: 4.6rem;
}

h2 {
  padding: 6em 0 0 0;
  font-size: 3rem;
}

h4 {
  font-size: 2.2rem;
}

.title {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.all-links {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 4.5rem;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
a {
  color: rgb(306, 40, 30);
  text-decoration: none;
  padding: 1.5rem;
  font-size: 2.2rem;
}

a:hover {
  color: goldenrod;
}

p {
  display: block;
  font-size: 2rem;
}
