html {
  display: flex;
  background-color: transparent;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: crimson;
  background: transparent;
  /* overflow: hidden; */

}  
 ::-webkit-scrollbar{display:none}


.App {
  font-family: sans-serif;
  text-align: center;
 
}

body {
  margin: 2.2rem 0 0 0;
  padding: 1rem;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
}

a {
  color: rgb(209, 72, 202);
  text-decoration: none;
  padding: 1.5rem;
  font-size: 2.2rem;
}

a:hover {
  color: goldenrod;
}

.title {
  font-size: 5rem;
}

p {
  display: block;
   font-size: 2rem;
}
