html {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: crimson;
}

.links {
  display: flex;
  justify-content: center;
}

a {
  font-size: 150%;
  font-weight: 200;
  margin: 1rem;
}
a:link {
    text-decoration: none;
  color: red;
  
}
a:visited {
    text-decoration: none;
  color: grey;
}
a:hover {
  color: purple;
   text-decoration: underline;
}
a:active {
  color: turquoise;
}
a:enabled {
  color: mediumspringgreen;
}

.title-card {
  font-size: 150%;
  font-weight: 200;
  letter-spacing: 6px;
  line-height: 100%;
  perspective: 100px;
}
