@media (screen-spanning: single-fold-vertical) {
  .split {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .App {
    flex-basis: calc(env(fold-left) - 60px);
    margin-inline-end: env(fold-width);
  }

  .left-links {
    flex: 0 0 env(fold-left);
    /* margin-inline-start: env(fold-width); */
    justify-content: space-between;
    overflow-y: scroll;
  }

  .App {
    flex-basis: calc(100vw - (env(fold-left) + env(fold-width)));
    margin: 0.5rem;
  }
}

@media (screen-spanning: single-fold-horizontal) {
  .split {
    height: 100vw;
    display: flex;
    flex-direction: column;
  }

  .left-links {
    height: 350px;
    font-size: 1rem;
  }
  .left-links,
  .App {
    margin-inline-start: env(fold-height);
    overflow-y: scroll;
  }

  .App {
    width: 90%;
  }
}

@media (screen-spanning: single-fold-vertical),
  (screen-spanning: single-fold-horizontal) {
  body {
    background-color: green;
  }
}
