/* Verticle Dual Spanning */
@media (screen-spanning: single-fold-vertical),
  (screen-spanning: single-fold-horizontal) {
  #split {
    height: 100vh;
    display: flex;
  }

  .left-links {
    /* grow: no, shrink: no, basis: fold-left */
    flex: 0 0 env(fold-left);

    /* equals to margin-right when writing mode is left-to-right (english)  */
    /* equals to margin-left when writing mode is right-to-left (arabic, hebrew)  */
    /* this will prevent content from being rendered behind the device mask */
    margin-inline-end: env(fold-width);
    /* overflow: hidden; */
    height:auto;
  }

  .App {
    /* fill the rest of the space */
    flex: 1;

    margin: 0;
    height: 100%;
    overflow-y: scroll;
  }
  .title{
    font-size: 4rem;
  }
}
@media (screen-spanning: single-fold-vertical),
  (screen-spanning: single-fold-horizontal) {
  body {
    background-color: teal;
  }
}
