#WelcomeUser {
  font-size: 5rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.left-links2 {
  display: none;
}

.featured iframe{
  height: auto;
  width: auto;
  margin: 1rem 2em 5em 2em;
  padding: 2rem;
}

#collection {
margin-bottom: 3em;
} 
