.welcome-title{ height:50vh;}

.title {
  font-size: 5rem;
   display: flex;
  justify-content: center;
  align-items: center;
}

#WelcomeUser{
  font-size:5rem;
padding:4rem;
 display: flex;
  justify-content: center;
  align-items: center;
 

}

.home-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.left-links2{
display: none;
}

