.welcome-title{ height:10vh;}



#WelcomeUser{
  font-size:5rem;
padding:4rem;
 display: flex;
  justify-content: center;
  align-items: center;
 

}

.home-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.left-links2{
display: none;
}

