#social {
  margin: 6rem 2em 5em 2em;
  padding: 2rem;
  color: rgba(74, 58, 153, 0.859);
   size:2rem
}
h6 {
  font-size: 2rem;
}
.fa-do a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.fa-do a img{
     filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
