#timer-header{
    color:red;
font-size:3.2rem;
margin-bottom:2rem;
}

.timer-title{
    padding:1rem;
    color:lightgreen;
    font-size:4rem;
}

#timer { overflow-y: scroll;
    display:flex;
margin-top:25%;
   color:Green;
  font-size:6rem;
  flex-direction: column;
 align-items:center;
height:60vh;
  
}
