#timer-header{
    color:red;
height:-50vh;
}

.timer-title{
    padding:2rem;
    color:lightgreen;
}

#timer {
    display:flex;
   color:blue;
  font-size:4rem;
  flex-direction: column;
 align-items:center;
justify-content: space-evenly;
  height:50vh;
}
